@model Post

@{
    ViewBag.Title = Model.Title;
    ViewBag.Description = Model.Description;
    ViewBag.Keywords = $"{Model.Tags?.Replace(",", " ")} {Model.Category}";
}

<div class="container">
    <div class="post no-shadow">
        @if (!String.IsNullOrEmpty(Model.Image))
        {
            var image_path = $"/Image/{Model.Image}";
            <img src="@image_path" />
            <span class="title">@Model.Title</span>
        }
    </div>
    <div class="post-body">
        @Html.Raw(Model.Body)
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="comment-section">
            @{
                await Html.RenderPartialAsync("_MainComment", new CommentViewModel { PostId = Model.Id, MainCommentId = 0 });
            }

            <br />

            @{ 
                var reversedList = Model.MainComments;
                reversedList.Reverse();
            }

            @foreach (var c in reversedList)
            {
                <p>
                    @c.Message
                </p>
                <p class="comment-created">
                    @c.Created
                </p>

                <div class="sub-comment">
                    @{
                        await Html.RenderPartialAsync("_MainComment", new CommentViewModel { PostId = Model.Id, MainCommentId = c.Id });
                    }

                    @foreach (var sc in c.SubComments)
                    {
                        <p>
                            @sc.Message
                        </p>
                        <p class="comment-created">
                            @sc.Created
                        </p>
                    }
                </div>
            }
        </div>
    }
    else
    {
        <div class="sign-in-message">
            <a class="orange-color" asp-controller="Auth" asp-action="Login">Sign In</a> to comment on this awesome post!
        </div>
    }

    <br />

</div>


